<%- include('../header'); %>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><%= dados[0].id %>.</p>
      <p class="card-text"><%= dados[0].nome %>.</p>
      <p class="card-text"><%= dados[0].endereco %>.</p>
    </div>
  </div>
  <a class="btn btn-primary" href="/clientes">Voltar</a>
