<%- include('header'); %>

    <body>
        <form>
            <div id="formlogin">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="loginemail" name ="loginemail" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" name="loginsenha" class="form-control" id="loginsenha">
                </div>
              
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
      
        </form>
    </body>